<div class="wrapper">
<a href="/">
  <div class="logo">
    <div class="icon"></div>
    <div class="text"></div>
  </div>
</a>
<nav>
  {% for item in navigation.items %}
    <a href="{{ item.url }}"
      {% if item.url in page.url %}
        class="active"
      {% endif %}
    >{{ item.text }}</a>
  {% endfor %}
</nav>
</div>